<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-4Yd3_LLiFWtsqajsApJ8COk7hKv0Juk</string>
	<key>GCM_SENDER_ID</key>
	<string>545351021512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aman.visitorMgnt</string>
	<key>PROJECT_ID</key>
	<string>visitor-mgnt-1</string>
	<key>STORAGE_BUCKET</key>
	<string>visitor-mgnt-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545351021512:ios:26b0df080fe03a1c8c46fd</string>
</dict>
</plist>